{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% load static %}


{% block content %}
<div class="features">
    <style>
        .parent {
        font-size: 200%;
        letter-spacing: 10px;
        font-weight: 650;
        text-align: center;
        margin-top: 100px;
        }
        .child {
            font-weight: normal;
            font-size: 90%;
            max-width: 80%;
            word-wrap: break-word;
            margin: 0 auto;
        }

    </style>
    <div class="parent">
        <h1 class="parent">Космическое агентство</h1>
        <div class="child">
            <p class="child">Национальное управление по аэронавтике и исследованию космического пространства — ведомство, относящееся к федеральному правительству США и подчиняющееся непосредственно президенту США.</p>
        </div>
    </div>
</div>

<div class="images-container">
    <img src="{% static 'main/img/Cosmos.png' %}" alt='Cosmos' align="right">
    <img src="{% static 'main/img/Rocket.png' %}" alt='Rocket' id="First_Img" align="left">
    <img src="{% static 'main/img/Telescope.png' %}" alt='Telescope' id="Second_Img">
    <img src="{% static 'main/img/Moon.png' %}" alt='Moon' id="Third_Img" align="left">
    <img src="{% static 'main/img/Medal.png' %}" alt='Medal' id="Fourth_Img">
</div>


{% endblock %}
