{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% load static %}


{% block content %}
<div class="features">
    <div class="parent">
        <h1 class="parent">Космическое агентство</h1>
        <div class="child">
            <p class="child">Национальное управление по аэронавтике и исследованию космического пространства — ведомство, относящееся к федеральному правительству США и подчиняющееся непосредственно президенту США.</p>
        </div>
    </div>
</div>

<div class="images-container" style="position: relative;">
    <div style="position: absolute; top: 10px; left: 1060px; margin-top: 30px;">
        <img src="{% static 'main/img/index/Cosmos.png' %}" alt='Cosmos'>
    </div>
    <div style="position: absolute; top: 10px; left: 300px; margin-top: 60px;">
        <img src="{% static 'main/img/index/Rocket.png' %}" alt='Rocket' id="First_Img">
    </div>
    <div style="position: absolute; top: 10px; left: 650px; margin-top: 60px;">
        <img src="{% static 'main/img/index/Telescope.png' %}" alt='Telescope' id="Second_Img">
    </div>
    <div style="position: absolute; top: 200px; left: 300px; margin-top: 80px;">
        <img src="{% static 'main/img/index/Moon.png' %}" alt='Moon' id="Third_Img">
    </div>
    <div style="position: absolute; top: 200px; left: 650px; margin-top: 80px;">
        <img src="{% static 'main/img/index/Medal.png' %}" alt='Medal' id="Fourth_Img">
    </div>
</div>

{% endblock %}
