{% extends 'main/layout.html' %}

{% block title %}Фотографии{% endblock %}

{% load static %}

{% block content %}

<style>

    body {
        background-color: rgb(59, 57, 57);
    }

    ol {
        list-style-type: none;
    }

</style>

<head>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Подключение jQuery и Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>

        body {
            background-color: rgb(59, 57, 57);
        }
    
        ol {
            list-style-type: none;
        }
    
    </style>
    
</head>


<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-Indicators">
        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
        <li data-target="#carouselIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'main/img/photos/Mask group.png' %}" class="d-block w-100" width="800" height="900">
        </div>
        <div class="carousel-item">
            <img src="{% static 'main/img/photos/Picture (3).png' %}" class="d-block w-100" width="400" height="900">
        </div>
        <div class="carousel-item">
            <img src="{% static 'main/img/photos/Picture (2).png' %}" class="d-block w-100" width="400" height="900">
        </div>
        <div class="carousel-item">
            <img src="{% static 'main/img/photos/Picture Selected.png' %}" class="d-block w-100" width="400" height="900">
        </div>
        <div class="carousel-item">
            <img src="{% static 'main/img/photos/Picture.png' %}" class="d-block w-100" width="400" height="900">
        </div>
        <div class="carousel-item">
            <img src="{% static 'main/img/photos/Picture (1).png' %}" class="d-block w-100" width="400" height="900">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev" width="400" height="900">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next" width="400" height="900">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

{% endblock %}
